---
layout: default
title: Blog
permalink: /es/blog/
lang: es
alternate_url: /blog/
---
{% assign t = site.data.translations[page.lang] %}
<section class="blog-page">
  <div class="container">
    <h1>{{ t.blog.title }}</h1>

    {% assign lang_posts = site.posts | where: "lang", page.lang %}
    {% if lang_posts.size > 0 %}
      <ul class="post-list">
        {% for post in lang_posts %}
          <li>
            <article>
              <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: t.date_format }}</time>
              {% if post.categories.size > 0 %}
                <span class="categories">
                  {% for category in post.categories %}
                    <span class="category">{{ category }}</span>
                  {% endfor %}
                </span>
              {% endif %}
              {% if post.excerpt %}
                <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
              {% endif %}
              <a href="{{ post.url | relative_url }}" class="read-more">{{ t.blog.read_more }} &rarr;</a>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ t.blog.no_posts }}</p>
    {% endif %}
  </div>
</section>
